  
  <header>
    <nav> 
    <svg width="40" height="50" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M37.024 63.0512L107.12 19.072C120.387 10.7488 137.6 20.3184 137.6 36.0208V123.979C137.6 139.68 120.387 149.251 107.12 140.928L37.024 96.9488C24.5456 89.1184 24.5456 70.8816 37.024 63.0512Z" fill="#1EA5FC"/>
      <path d="M122.976 63.0512L52.88 19.072C39.6128 10.7488 22.4 20.3184 22.4 36.0208V123.979C22.4 139.68 39.6128 149.251 52.88 140.928L122.976 96.9488C135.454 89.1184 135.454 70.8816 122.976 63.0512Z" fill="#7B6EF6"/>
    </svg>
      
          <ul class="nav d-grid gap-2 d-md-flex justify-content-md-end">
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="inicio">inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="peliculas">peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="series">series</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="ingresar">ingresar a</a>
            </li>
          </ul>
      </nav>
  </header>
 