div.header{
    background: #210a3a;  
background: -webkit-linear-gradient(to right, #2F0743, #23192e); 
background: linear-gradient(to right, #2F0743, #261538); 

    }

    header{
        background: #1f053a; 
      
      }
   