/* .container-fluid {
    background: #210a3a;  
    background: -webkit-linear-gradient(to right, #2F0743, #23192e); 
    background: linear-gradient(to right, #2F0743, #261538); 

} */

/* .cards{
    margin: 5%;
    padding: 3%;
   background-color: #b11c12;
   border-radius: 3%;
   box-sizing: border-box;
} */

/* div.card{
margin: 7;
padding: 10%;
background: #18062c;
border-radius: 3%;
border-bottom: 3px; */

/* } */

.m-4{
    margin: 0%;
    background-color: #f03a0c;
}


.button-Noselected {
    background-color: 
    rgb(58, 196, 201);
}
.button-selected {
    background-color: 
    rgb(61, 202, 124);
}
button{
    margin: 1%;
    background-color: #32a0b3;
}
