
<header> 
   
  <div>
      <nav>
        
          <ul class="nav">
            <svg width="50" height="50" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M37.024 63.0512L107.12 19.072C120.387 10.7488 137.6 20.3184 137.6 36.0208V123.979C137.6 139.68 120.387 149.251 107.12 140.928L37.024 96.9488C24.5456 89.1184 24.5456 70.8816 37.024 63.0512Z" fill="#1EA5FC"/>
              <path d="M122.976 63.0512L52.88 19.072C39.6128 10.7488 22.4 20.3184 22.4 36.0208V123.979C22.4 139.68 39.6128 149.251 52.88 140.928L122.976 96.9488C135.454 89.1184 135.454 70.8816 122.976 63.0512Z" fill="#7B6EF6"/>
              </svg>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="inicio">inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="peliculas">peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="series">series</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="ingresar">ingresar a</a>
            </li>
         
          </ul>
        </nav>
     
  </div>
  <section>
    <div class="container text-white">
        <div class="hero">
           <h1>PelisUP!</h1>
              <p>Plataforma para ver peliculas y series</p>
             
              <button type="button" class="btn btn-outline-success text-white" >
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#8E95A9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M22 22L20 20" stroke="#8E95A9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              Buscar</button>
      
              <button type="button" class="btn btn-lg botonTab text-white" (click)="cambiarCategoria('Todos')">Todos</button>
              <button type="button" class="btn btn-lg botonTab text-white" (click)="cambiarCategoria('peliculas')">peliculas</button>
              <button type="button" class="btn btn-lg botonTab text-white" (click)="cambiarCategoria('series')">series</button>
           
         </div>
    </div>
</section>
 
  </header>

  <section class="m-4 text-white marging-l-5"><p>Todos (120)</p></section>


  <section class="cards row m-4">
    <div class="container-md">
      <div class="row">
       <div class="col-3" *ngFor="let peliculas of movies_series">
         <div class="card" style="width: 18rem;">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.15327 2.33999L10.3266 4.68666C10.4866 5.01333 10.9133 5.32666 11.2733 5.38666L13.3999 5.73999C14.7599 5.96666 15.0799 6.95333 14.0999 7.92666L12.4466 9.57999C12.1666 9.85999 12.0133 10.4 12.0999 10.7867L12.5733 12.8333C12.9466 14.4533 12.0866 15.08 10.6533 14.2333L8.65994 13.0533C8.29994 12.84 7.70661 12.84 7.33994 13.0533L5.34661 14.2333C3.91994 15.08 3.05327 14.4467 3.42661 12.8333L3.89994 10.7867C3.98661 10.4 3.83327 9.85999 3.55327 9.57999L1.89994 7.92666C0.926606 6.95333 1.23994 5.96666 2.59994 5.73999L4.72661 5.38666C5.07994 5.32666 5.50661 5.01333 5.66661 4.68666L6.83994 2.33999C7.47994 1.06666 8.51994 1.06666 9.15327 2.33999Z" stroke="#FFBD6D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
           <img src="/assets/imagenes/1-black-widow.svg" class="card-img-top" alt="..." >
          <div class="card-body">
            <p class="card-text text-white"></p>
           
          </div>
        </div>
      </div>
        
      </div>
      </div>
    
  </section>
  
 