<section>
<div class="container-fluid text-white">
        <div class="hero">
          <h1>PelisUP!</h1>
          <p>Plataforma para ver peliculas y series😁</p>
            <form action="d-flex" role="search">
              <input
                type="forn-control me-2 "
                type="search"
                placeholder="🔍 Buscar series o peliculas"
                aria-label="search"
                ngModel="paraBuscar"
                (ngModelChange)="buscar(paraBuscar)"
                [ngModelOptions]="{ standalone: true }"
              />
            </form>  <h1>{{paraBuscar}}</h1>

            <button
            type="button"
            class="btn btn-lg botonTab text-white"
            (click)="cambiarCategoria('Todos')"
            [ngClass]="
              selected == 'Todos' ? 'button-selected' : 'button-Noselected'
            "
          >
            Todos
          </button>
          <button
            type="button"
            class="btn btn-lg botonTab text-white"
            (click)="cambiarCategoria('movie')"
            [ngClass]="
              selected == 'movie' ? 'button-selected' : 'button-Noselected'
            "
          >
            peliculas
          </button>
          <button
            type="button"
            class="btn btn-lg botonTab text-white"
            (click)="cambiarCategoria('tv')"
            [ngClass]="
              selected == 'tv' ? 'button-selected' : 'button-Noselected'
            "
          >
            series
          </button>
          <p>Todos (120)</p>
        </div>
      </div>
    </section>

    <section class="container-cards ">
      <div class="cards md row m-4">
        <div class="row">
          <div class="col-3" *ngFor="let movie of movies_series.results">
            <div
              class="card"
              style="width: 18rem"
              *ngIf="selected == movie.media_type || selected == 'Todos'"
            >
              <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"> </app-cards>
            </div>

            <div
              class="card"
              style="width: 18rem"
              *ngIf="selected == 'movie'"
            >
              <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"> </app-cards>
            </div>

            <div
              class="card"
              style="width: 18rem"
              *ngIf="selected ==  'tv'"
            >
              <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name"> </app-cards>
            </div>
          </div>
        </div>
      </div>

    </section>

